<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::standard (title=#{product.selection.title})">
</head>
<body>

	<div class="container">
	
		<th:block th:replace="header::standard"></th:block>

		<div class="row">

			<div class="col-md-6">
				
				<div class="well">

					<h1 th:text="#{confirmation.products(${customerID})}"></h1>

					<ul>
						<li th:each="product : ${checkout.getProducts()}">
							<div th:replace="product::confirm (product=${product})"></div>
						</li>
					</ul>
				
				</div>

			</div>

			<div class="col-md-6">
			
				<div class="well">
					
					<h1 th:text="#{confirmation.confirm}"></h1>

					<nav role="navigation">
						<form th:action="@{/confirmation}" method="post">
	
							<div class="form-group">
								<a class="btn btn-default" th:href="@{/}"
									th:text="#{confirmation.back}"></a> <input
									class="btn btn-warning" type="submit"
									th:value="#{confirmation.cancel}"></input>
							</div>
	
						</form>
					</nav>
				
				</div>

			</div>

		</div>

	</div>

	<th:block th:include="scripts::standard"></th:block>

</body>
</html>